/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
    margin: 0;
    font-family: Helvetica Neue, sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-color: #F4F4F4;
    height: 4.2em;
    display: flex;
    align-content: center;
    flex-direction: row;
}

header p {
    margin: 0;
    padding: 0;
    display: block;
}

header a {
    height: 1.9em;
    display: block;
    background: red;
}

header a img {
    height: 100%;
}

header button {
    border: none;
    outline: none;
    background: red;
    width: auto;
    padding: 0;
    margin: 0;
    display: block;
}

header button svg {
    width: 20px;
}

header button:hover img {
    filter: brightness(75%);
}

nav {
    overflow: hidden;
    height: 0;
}

.show-menu {
    height: 100%;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    background-color: #F4F4F4;
    padding: 1.2em;
    border-top: 1px solid #e3e3e3;
    color: #333333;
}

nav ul li ul {
    display: none;
}

.top-section {
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.top-section a {
    display: block;
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
}

.top-section article {
    height: 100%;
    position: relative;
    background-position: center;
    background-size: 120%;
    transition: ease 1s;
}

.top-section article:hover {
    background-size: 125%;
}

.top-article-heading {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1.5em;
}

.top-section article .video-icon {
    width: 25px;
    height: 25px;
    background-color: #E61E14;
    padding: 8px;
    border-radius: 100%;
    margin-bottom: 1.2em;
}

.top-section .video-icon img {
    display: block;
}

.top-section article:hover h2 {
    margin-bottom: .2em;
}

.top-section article h2 {
    color: white;
    font-size: 1.3em ;
    font-weight: 500;
    margin: 0;
    transition: .3s;
}

.top-section a:first-child article {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(../images/detail-image.jpg);
}

.top-section a:nth-child(2) article {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(../images/image2.jpg);
}

.middle-section {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.middle-section article {
    padding-bottom: 1em;
    padding-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f4f4f4;
}

.middle-section a:last-child article {
    border-bottom: none; 
}


.middle-section article:hover h3 {
    color: #e61e14;
}

.middle-section article h3 {
    margin: 0;
    font-weight: 500;
    color: #333333;
    font-size: 1em;
    transition: ease .3s;
}

.middle-section article p {
    display: none;
}

.middle-section article .img-wrapper {
    overflow: hidden;
    height: 4.5em;
    width: 8.5em;
    margin-right: 1em;
    position: relative;
    display: flex;
    justify-content: center;
    flex: none;
}

.middle-section article img {
    height: 100%;
    transition: ease .9s;
}

.middle-section article .img-wrapper .video-icon {
    width: 25px;
    height: 25px;
    background-color: #E61E14;
    padding: 8px;
    border-radius: 100%;
    z-index: 1;
    position: absolute;
    left: .7em;
    bottom: .7em;
}

.middle-section article .img-wrapper .video-icon img {
    display: block;
}


/*Overflow hidden werkt niet*/
.middle-section article:hover .img-wrapper img {
    transform: scale(1.05);
}

.middle-section .live-article {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(../images/image4.jpg);
    background-size: cover;
    background-position: 30% 50%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: relative;
    height: 6em;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 1em;
    transition: .5s ease;
    border-bottom: none;
}

.middle-section .live-article:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px #333;
}

.middle-section .live-article h3 {
    color: white;
    margin: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.middle-section .live-article div {
    background-color: #333333;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: .3em 1em;
}

.middle-section .live-article div p {
    font-size: .6em;
    font-weight: 500;
    margin: 0;
}

.middle-section .live-article div p span {
    color: red;
    margin-right: 1em;
}

.image-header-mobile, .image-header-desktop {
    height: 44vh;
    width: 100%;
    object-fit: cover;
}

.detail-section {
    padding: 1em;
}

figure {
    display: none;
}

.detail-section h1 {
    margin: 0;
    padding: 0;
    font-size: 1.6em;
    line-height: 1.3em;
    color: #333333;
}

.detail-section h3 {
    margin: 0;
    margin-top: 2em;;
    font-size: 1em;
    line-height: 0;
}

.detail-section p {
    color: #333333;
    line-height: 1.7em;
}

.detail-section p a {
    color: #4073A3;
}

.detail-section p a:hover {
    text-decoration: underline;
}

.detail-section a img {
    width: 100%;
    margin-top: .5em;
}

.detail-section a p {
    padding-left: 1em;
    border-left: 1px solid #d8d8d8;
    color: #4073A3;
}

.article-meta {
    font-size: .7em;
    text-transform:uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 2.2em;
    margin-top: .8em;
    color: #999999
}

.article-meta span:first-child {
    color: #333;
}

.article-meta .dot {
    margin-left: 5px;
    margin-right: 5px;
}

.credits {
    height: 38px;
    display: flex;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

.credits .name {
    height: 100%;
    margin-left: 1em;
}

.credits p:first-child {
    font-size: .8em;
    margin: 0;
    color: #333333;
    font-weight: 600;
    line-height: 
}

.credits p:nth-child(2) {
    font-size: .7em;
    margin: 0;
    color: #999999;
    line-height: 1.5em;
}

main section footer {
    margin-top: 2em;
}

main section footer span {
    color: #333333;
}

main section footer a {
    padding: .5em;
    color: #666666
}

main section footer a svg {
    height: 1em;
}

.pagefooter {
    padding: 1em;
    background-color: #fafafa;
    border-top: 1px solid #e3e3e3;
    margin-top: 2em;
}

.pagefooter a img {
    height: 1.8em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.pagefooter ul {
    margin: 0;
    padding: 0;
}

.pagefooter ul li {
    list-style: none;
    font-size: .9em;
}

.pagefooter ul li a {
    color: #333333;
    display: block;
    padding-top: .5em;
    padding-bottom: .5em;
    transition: ease .3s;
}

.pagefooter ul li a:hover {
    color: #E61E14;
}

.pagefooter section {
    border-top: 1px solid #e3e3e3;
    margin-top: 1em;
}

.pagefooter section a {
    color: #999999;
    font-size: .9em;
    margin-top: 1em;
    display: block;
}

.pagefooter section p {
    color: #999999;
    font-size: .9em;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}






/*MEDIA QUERIES*/

@media screen and (min-width: 900px) {
    .top-section {
        display: flex;
        flex-direction: row;
        height: 45vh;
    }
    .top-section a {
        height: 100%;
    }
    .top-article-heading {
        margin: 0;
        width: 100%;
    }
    .text-align-right {
        font-size: 1.5em;
        padding: 1.5em;
        padding-left: 10em;
        text-align: right;
    }
    .text-align-left {
        font-size: 1.5em;
        padding: 1.5em;
        padding-right: 10em;
    }
    
    .middle-section {
        margin-left: 20em;
        margin-right: 20em;
        margin-top: 3em ;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    .middle-section a {
        width: 30%;
/*        flex-basis: 30%;*/
        margin-right: 1em;
        margin-left: 1em;
        margin-bottom: 2em;
        flex-grow: 1;
    }
    
    .middle-section article {
        display: block;
        padding: 0;
        margin: 0;
        border-bottom: none;
    }
    
    .middle-section article h3 {
        font-size: 1.2em;
        margin-top: .8em;
    }
    
    .middle-section article p {
        display: block;
        color: #333333;
        font-size: 1em;
        line-height: 1.5em;
        margin: 0;
        margin-top: .8em;
    }
    
    .middle-section article .img-wrapper {
        display: block;
        height: auto;
        width: 100%;
    }
    
    .middle-section article img {
        height: auto;
        width: 100%;
    }
    
    .detail-section {
        margin: auto;
        padding-left: 6em;
        padding-right: 6em;
        max-width: 860px;
    }
    
    figure {
        margin-top: 2em;
        margin-right: 0;
        margin-left: -6em;
        margin-bottom: 3em;
        width: calc(100% + 12em);
        display: block;
    }
    
    figure img {
        width: 100%;
    }
    
    figure figcaption {
        margin-top: 1em;
        padding-left: 1.5em;
        border-left: 1px solid #d8d8d8;
        color: #333333;
    }
    
    figure figcaption span {
        font-size: .8em;
        font-weight: 700;
        color: #999999;
        margin-left: .5em;
    }
    
    .article-meta {
        margin-top: 4em;
    }
    
    .detail-section h1 {
        font-size: 2.5em;
    }
    
    .detail-section h3 {
        font-size: 1.2em;
    }
    
    .detail-section p {
        font-size: 1.2em;
    }
    
    .image-header-mobile {
        height: auto;
        object-fit: cover;
        display: none;
    }

    
    












































