/* CSS Document */

*,
*::after,
*::before {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent; /* make scrollbar transparent */
}

body {
    margin: 0;
    font-family: Helvetica Neue, sans-serif;
}

a {
    text-decoration: none;
}




/***************HEADER***************/

header {
    background-color: #F4F4F4;
    height: 4.2em;
    display: flex;
}

header .header-container {
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
}

header .header-container div {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

header .header-container ul {
    display: none;
}

header div form {
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: 2;
    width: auto;
    justify-content: flex-end;
}

header div form input {
    height: 50%;
    width: 0px;
    border: none;
    border-radius: 2.1em;
    padding-left: 1em;
    padding-right: 1em;
    outline: none;
    opacity: 0;
    transition: ease 1s;
    transform: scale(.5);
    transform-origin: center right;
}

.show-balk {
    width: 60%;
    opacity: 1;
    transform: scale(1);
}

header div button:last-child img {
    transition: ease .3s;
}

header div button:last-child:hover img {
    filter: brightness(75%);
}

header a {
    height: 1.8em;
    display: block;
    margin-left: .5em;
}

header a img {
    height: 100%;
}

header button {
    border: none;
    outline: none;
    width: auto;
    padding: 1.5em;
    margin: 0;
    display: block;
    background-color: #F4F4F4;
}

header button img {
    width: 20px;
}

header button svg {
    width: 20px;
    transition: ease .3s;
}

header button svg .cls-1 {
    fill: #a4a4a4;
}

header button:hover svg {
    filter: brightness(75%);
}




/***************NAVIGATION***************/

#navigation {
    overflow: hidden;
    height: 0;
}

.show-menu {
    height: 100%!important;
}

#navigation ul {
    margin: 0;
    padding: 0;
}

#navigation ul li {
    list-style: none;
    background-color: #F4F4F4;
    padding: 1.2em;
    border-top: 1px solid #e3e3e3;
    color: #333333;
}

#navigation ul li ul {
    display: none;
}




/***************TOP SECTION***************/

.top-section {
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.top-section a {
    display: block;
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
}

.top-section article {
    height: 100%;
    position: relative;
    background-position: center;
    background-size: 120%;
    transition: ease 1s;
}

.top-section article .img-wrapper {
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.top-section article .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    transition: ease .6s;
}

.top-section article:hover .img-wrapper img {
    transform: scale(1.025);
}

.top-section article .img-wrapper .overlay {
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,1));
    opacity: .3;
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: ease .3s;
}

.top-section article:hover .img-wrapper .overlay {
    opacity: .6;
}

.top-article-heading {
    position: absolute;
    bottom: 0;
    margin: 1.3em 1em;
    z-index: 100;
}

.liveblog-icon {
    height: 25px;
    background: #E61E14;
    width: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: .6em;
    bottom: .6em;
    border-radius: 25px;
    z-index: 9;
}

.liveblog-icon p {
    color: white!important;
    text-transform: uppercase;
    font-size: .7em!important;
    margin: 0!important;
    font-weight: 500;
    letter-spacing: 1px;
    display: block!important;
}

.video-icon {
    width: 25px;
    height: 25px;
    background-color: #E61E14;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.video-icon svg {
    display: block;
    position: absolute;
    height: 9px;
}

.top-section .video-icon {
    margin-bottom: 1.2em;
}

.top-section article:hover h2 {
    margin-bottom: .2em;
}

.top-section article h2 {
    color: white;
    font-size: 1.3em;
    font-weight: 500;
    margin: 0;
    transition: .3s ease;
}

.top-section a:first-child article {
/*    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(../images/detail-image.jpg);*/
}

.top-section a:nth-child(2) article {
/*    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(../images/image2.jpg);*/
}




/***************MIDDLE SECTION***************/

.middle-section {
    max-width: 66em;
    margin: auto;
    margin-top: 1em;
    display: grid;
/*    grid-template-columns: 1fr;*/
    grid-template-rows: auto;
    column-gap: 2em;
    row-gap: 0em;
    padding-left: 1em;
    padding-right: 1em;
}

.middle-section article:nth-child(4) {
    border-radius: 6px;
    position: relative;
    transition: ease .3s;
    height: 88px;
    overflow: hidden;
}

.middle-section article:nth-child(4):hover {
    transform: scale(1.025);
}

.middle-section article:nth-child(4) a {
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 0;
    display: flex;
    align-items: center;
    padding-left: 1.5em;
}

.middle-section article:nth-child(4) a img {
    position: absolute;
    left: 0;
    z-index: 1;
}

.middle-section article:nth-child(4) a .overlay {
    height: 60%;
    z-index: 2;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,1));
    opacity: .3;
}

.middle-section article:nth-child(4) div {
    z-index: 3;
}

.middle-section article:nth-child(4) p {
    display: none;
}

.middle-section article:nth-child(4) h3 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 1px;
    margin-left: 1em;
}

.middle-section article:nth-child(4):hover h3 {
    color: white;
}

.collectie-icon {
    height: 50px;
    background-color: hsla(0, 0%, 96.1%, 0.2);
    backdrop-filter: blur(10px);
    width: 50px;
    display: flex!important;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    z-index: 9;
}

.collectie-icon svg {
    display: block;
    height: 22px;
    
}

.collectie-icon p {
    display: none;
}

.middle-section article {
    border-bottom: 1px solid #f4f4f4;
}

.middle-section article a {
    display: flex;
    align-items: center;
    padding-bottom: 1em;
    margin-top: 1em;
}

.middle-section article:last-child {
    border-bottom: none;
}

.middle-section article:hover h3 {
    color: #e61e14;
}

.middle-section article a {
    color: #333333
}

.middle-section article h3 {
    margin: 0;
    font-weight: 500;
    color: #333333;
    font-size: 1em;
    transition: ease .3s;
}

.middle-section article p {
    display: none;
}

.middle-section article .img-wrapper {
    overflow: hidden;
    height: 4.5em;
    width: 8.5em;
    margin-right: 1em;
    position: relative;
    display: flex;
    justify-content: center;
    flex: none;
}

.middle-section article img {
    height: 100%;
    width: 100%;
    transition: ease .9s;
    object-fit: cover;
}

.middle-section .video-icon {
    position: absolute;
    left: .6em;
    bottom: .6em;
}

.middle-section article:hover .img-wrapper img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}




/***************SLIDER***************/

main h4 {
    padding: 1em;
    margin: 0;
    margin-top: 1em;
    color: #333333;
}

main h4 span {
    font-weight: 400;
    text-transform: uppercase;
    color: #666666;
    font-size: .9em;
    margin-left: .7em;
}

main section:nth-of-type(3) {
    background: #212121;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    width: 100%;
    height: 40vh;
}

main section:nth-of-type(3) article {
    width: 100%;
    scroll-snap-align: center;
    flex: 0 0 100%;
    position: relative;
}

main section:nth-of-type(3) article:first-of-type {
    display: none;
}
    
main section:nth-of-type(3) article:last-of-type {
    display: none;
}

main section:nth-of-type(3) article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main section:nth-of-type(3) article div {
    position: absolute;
    z-index: 100;
    width: 100%;
    background: red;
    bottom: 0;
    padding: 1em;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
}

main section:nth-of-type(3) article div h5 {
    margin: 0;
    color: white;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 1px;
}

main section:nth-of-type(3) article div p {
    display: none;
}




/***************DETAIL SECTION***************/

.detail-section {
    padding: 1em;
}

.image-header-mobile,
.image-header-desktop {
    height: 44vh;
    width: 100%;
    object-fit: cover;
}

figure {
    display: none;
}

.detail-section h1 {
    margin: 0;
    padding: 0;
    font-size: 1.6em;
    line-height: 1.3em;
    color: #333333;
}

.detail-section h3 {
    margin: 0;
    margin-top: 2em;
    ;
    font-size: 1em;
    line-height: 0;
}

.detail-section p {
    color: #333333;
    line-height: 1.7em;
}

.detail-section p a {
    color: #4073A3;
}

.detail-section p a:hover {
    text-decoration: underline;
}

.detail-section a img {
    width: 100%;
    margin-top: .5em;
}

.detail-section a p {
    padding-left: 1em;
    border-left: 1px solid #d8d8d8;
    color: #4073A3;
}

.article-meta {
    font-size: .7em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 2.2em;
    margin-top: .8em;
    color: #999999
}

.article-meta span:first-child {
    color: #333;
}

.article-meta .dot {
    margin-left: 5px;
    margin-right: 5px;
}

.credits {
    height: 38px;
    display: flex;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

.credits .name {
    height: 100%;
    margin-left: 1em;
}

.credits p:first-child {
    font-size: .8em;
    margin: 0;
    color: #333333;
    font-weight: 600;
    line-height:
}

.credits p:nth-child(2) {
    font-size: .7em;
    margin: 0;
    color: #999999;
    line-height: 1.5em;
}

main section footer {
    margin-top: 2em;
}

main section footer span {
    color: #333333;
}

main section footer a {
    padding: .5em;
    color: #666666
}

main section footer a svg {
    height: 1em;
}

main ul:last- {
    display: none;
}


/***************FOOTER***************/

.pagefooter {
    padding: 1em;
    margin-top: 2em;
    width: 100%;
    background-color: #fafafa;
    border-top: 1px solid #e3e3e3;
}

.pagefooter div {
    margin: auto;
    max-width: 66em;
}

.pagefooter div a img {
    height: 1.8em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.pagefooter div ul {
    margin: 0;
    padding: 0;
}

.pagefooter div ul li {
    list-style: none;
    font-size: .9em;
}

.pagefooter div ul li a {
    color: #333333;
    display: block;
    padding-top: .5em;
    padding-bottom: .5em;
    transition: ease .3s;
}

.pagefooter div ul li a:hover {
    color: #E61E14;
}

.pagefooter div section {
    border-top: 1px solid #e3e3e3;
    margin-top: 1em;
}

.pagefooter div section a {
    color: #999999;
    font-size: .9em;
    margin-top: 1em;
    display: block;
}

.pagefooter div section p {
    color: #999999;
    font-size: .9em;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}



/*MEDIA QUERIES*/

@media screen and (min-width: 900px) {



    /***************HEADER MQ***************/
    header div {
        width: 66em!important;
        margin: auto;
    }

    header button:first-child {
        display: none;
    }

    header .header-container nav {
        height: 100%;
        width: auto;
        margin: 0;
        padding: 0;
    }

    header .header-container nav ul {
        padding: 0;
        margin: 0;
        margin-left: 2em;
        display: flex;
        flex-direction: row;
        height: 4.2em;
    }

    header .header-container nav ul li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    header .header-container nav ul li a {
        padding: 0;
        padding-left: 1.2em;
        width: 6em;
        margin: 0;
        color: #333333;
        line-height: 4.2em;
        height: 100%;
        border-left: 1px #e3e3e3 solid;
        transition: ease .3s;
    }

    header .header-container nav ul li a:hover {
        border-left: 1px #e61e14 solid;
        color: #e61e14;
    }

    header .header-container nav ul li a:active {
        border: 1px #e61e14 solid;

    }

    header div form input {
        width: 250px;
        opacity: 1;
        transform: scale(1);
    }



    /***************TOP SECTION MQ***************/
    .top-section {
        display: flex;
        flex-direction: row;
        height: 45vh;
    }
    
    .top-section a {
        height: 100%;
    }
    
    .top-article-heading {
        margin: 0;
        width: 100%;
        font-size: 1.5em;
        padding: 1em 1.2em;
        max-width: 24em;
    }

    .text-align-right {
        right: 0;
    }

    .liveblog-icon {
        left: 1em;
        bottom: 1em;
    }

    .middle-section .video-icon {
        left: 1em;
        bottom: 1em;
    }


    /***************MIDDLE SECTION MQ***************/
    
    .middle-section {
        max-width: 66em;
        display: grid;
/*        grid-template-columns: 1fr 1fr 1fr;*/
        grid-template-rows: auto;
        column-gap: 2em;
        row-gap: 3em;
        padding-left: 0;
        padding-right: 0;
        margin-top: 3em;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) ) ;
    }

    .middle-section article:nth-child(4) {
        border-radius: 6px;
        position: relative;
        transition: ease .3s;
        height: auto;
    }

    .middle-section article:nth-child(4):hover {
        transform: scale(1.025);
    }

    .middle-section article:nth-child(4) a {
        width: 100%;
        height: 100%;
    }

    .middle-section article:nth-child(4) div {
        position: absolute;
        bottom: 1.3em;
        left: 1.3em;
    }

    .middle-section article:nth-child(4) p {
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        font-size: .75em;
        letter-spacing: 1px;
        margin: 0;
        margin-bottom: 1em;
        display: block;
    }

    .middle-section article:nth-child(4) h3 {
        color: white;
        font-size: 1.65em;
        margin: 0;
        text-transform: none;
    }

    .middle-section article {
        border-bottom: none;
    }

    .middle-section article a {
        display: block;
        margin-top: 0;
    }

    .middle-section article h3 {
        font-size: 1.2em;
        margin-top: .8em;
    }

    .middle-section article p {
        color: #333333;
        font-size: 1em;
        line-height: 1.5em;
        margin: 0;
        margin-top: .8em;
        display: block;
    }

    .middle-section article .img-wrapper {
        display: block;
        height: 186px;
        width: 100%;
    }

    .middle-section article img {
        height: 100%;
        width: 100%;
    }

    .collectie-icon {
        height: 25px;
        background-color: hsla(0, 0%, 96.1%, 0.2);
        backdrop-filter: blur(10px);
        width: 7em;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 1em;
        border-radius: 25px;
        z-index: 9;
    }

    .collectie-icon p {
        color: white!important;
        text-transform: uppercase;
        font-size: .7em!important;
        margin: 0!important;
        font-weight: 500;
        letter-spacing: 1px;
        display: block!important;
    }
    
    .collectie-icon svg {
        display: block;
        height: 14px;
        margin-right: .3em!important;
    }
    
    
    
    
    /***************SLIDER MQ***************/
    
    main h4 {
        padding: 1em;
        padding-left: 0;
        padding-right: 0;
        margin: auto;
        margin-top: 3em;
        color: #333333;
        max-width: 66em;
    }
    
    main section:nth-of-type(3) {
        height: 55vh;
    }

    main section:nth-of-type(3) article {
        width: 100%;
        flex: 0 0 55%;
    }
    
    main section:nth-of-type(3) article:first-of-type {
        flex: 0 0 22.5%;
        display: block;
    }
    
    main section:nth-of-type(3) article:last-of-type {
        flex: 0 0 22.5%;
        display: block;
    }

    main section:nth-of-type(3) article div {
        padding: 2em;
    }

    main section:nth-of-type(3) article div h5 {
        font-size: 1.5em;
        font-weight: 500;
    }

    main section:nth-of-type(3) article div p {
        display: block;
        color: white;
        margin: 0;
        margin-top: .7em;
    }


    /***************DETAIL SECTION MQ***************/
    
    .detail-section {
        margin: auto;
        padding-left: 6em;
        padding-right: 6em;
        max-width: 860px;
    }

    figure {
        margin-top: 2em;
        margin-right: 0;
        margin-left: -6em;
        margin-bottom: 3em;
        width: calc(100% + 12em);
        display: block;
    }

    figure img {
        width: 100%;
    }

    figure figcaption {
        margin-top: 1em;
        padding-left: 1.5em;
        border-left: 1px solid #d8d8d8;
        color: #333333;
    }

    figure figcaption span {
        font-size: .8em;
        font-weight: 700;
        color: #999999;
        margin-left: .5em;
    }

    .article-meta {
        margin-top: 4em;
    }

    .detail-section h1 {
        font-size: 2.5em;
    }

    .detail-section h3 {
        font-size: 1.1em;
    }

    .detail-section p {
        font-size: 1.1em;
        line-height: 1.8em;
    }

    .image-header-mobile {
        height: auto;
        object-fit: cover;
        display: none;
    }